{
  "presets": [
    [
      "@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 versions", "> 5% in PL"],
            "node": "current"
          },
          "forceAllTransforms": true,
          "modules": false
      }
    ],
    [
      "@babel/preset-react", {
        "targets": {
          "browsers": ["last 2 versions", "> 5% in PL"],
          "node": "current"
        },
        "forceAllTransforms": true,
        "modules": false
      }
    ]
  ]
}